---
import { Image } from 'astro:assets';
import myImage from "../img/perfil.png";
---

<main class="header flex justify-center items-center flex-col  max-w-full min-h-[60vh] p-6">

        <Image class="rounded-full m-4"  height={200} width={200} src={myImage} alt="Una descripcion de mi imagen"></Image>


        <h2 class="text-lg font-bold">Hola, Soy Luciano Cabello   </h2>
    <h1 class=" p-6 text-4xl w-[25ch] text-center tracking-widest">Construyendo el futuro, una línea de código a la vez, ¡bienvenido a mi mundo digital!</h1>

</main>


<style>


</style>